<!DOCTYPE html>
<html lang="en">

<head>
  <%-include("head.ejs") %>
</head>

<body>
  <menu class="menu-btn btn">
    <div class="menu-icon-box"><i class="bi bi-menu-button menu-icon"></i></div>
    <div class="menu-items">
      <ul class="menu-box">
        <li class="login-btn btn" data-toggle="tooltip" data-placement="left" title="Login">
          <a class="icon-link" href="#Login"><i class="bi bi-file-earmark-person"></i></a>
        </li>
        <li class="team-btn btn" data-toggle="tooltip" data-placement="left" title="Teams">
          <a class="icon-link" href="/teams"><i class="bi bi-people"></i></a>
        </li>
        <li class="circuit-btn btn" data-toggle="tooltip" data-placement="left" title="Circuits">
          <a class="icon-link" href="/circuits"><i class="bi bi-signpost-split"></i></a>
        </li>
        <li class="schedule-btn btn" data-toggle="tooltip" data-placement="left" title="Schedule">
          <a class="icon-link" href="/schedule"><i class="bi bi-calendar-event"></i></a>
        </li>
        <li class="social-btn btn" data-toggle="tooltip" data-placement="left" title="Social">
          <a class="icon-link" href="/social"><i class="bi bi-chat-left-dots"></i></a>
        </li>
      </ul>
    </div>
  </menu>
  <div id="main-video-container">
    <iframe
      src="https://www.youtube.com/embed/_v23N304rXM?si=FmZyqqeagNGh_cDK&autoplay=1&mute=1&controls=0&modestbranding=1"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</body>

</html>