<!DOCTYPE html>
<html lang="en">

<head>
  <%-include("head.ejs") %>
</head>

<body>
  <%-include("menu.ejs") %>
  <div id="main-video-container">
    <iframe
      src="https://www.youtube.com/embed/_v23N304rXM?si=FmZyqqeagNGh_cDK&autoplay=1&mute=1&controls=0&modestbranding=1"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</body>

</html>