<menu class="menu-btn btn">
  <div class="menu-icon-box"><i class="bi bi-menu-button menu-icon"></i></div>
  <div class="menu-items">
    <ul class="menu-box">
      <li class="tooltip-btn btn" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Home">
        <a class="icon-link" href="/"><i class="bi bi-house-door"></i></a>
      </li>
      <li class="tooltip-btn btn" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="My page">
        <a class="icon-link" href="/mypage"><i class="bi bi-person"></i></a>
      </li>
      <li class="tooltip-btn btn" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Teams">
        <a class="icon-link" href="/teams"><i class="bi bi-people"></i></a>
      </li>
      <li class="tooltip-btn btn" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Circuits">
        <a class="icon-link" href="/circuits"><i class="bi bi-signpost-split"></i></a>
      </li>
      <li class="tooltip-btn btn" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Schedule">
        <a class="icon-link" href="/schedule"><i class="bi bi-calendar-event"></i></a>
      </li>
      <li class="tooltip-btn btn" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Social">
        <a class="icon-link" href="/social"><i class="bi bi-chat-left-dots"></i></a>
      </li>
      <li class="logout-btn btn" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Logout">
        <button class="icon-link logout-btn" onclick="userLogout()"><i class="bi bi-door-open"></i></button>
      </li>
    </ul>
  </div>
</menu>