<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
  <script defer src="/scripts/Social.js"></script>
  <%-include("head.ejs") %>
</head>

<body>
  <%-include("menu.ejs") %>

    <div class="social-chat">
      <div id="social-main">
        <div id="chat">
          <!-- Chat message -->
        </div>
        <input type="text" name="test" id="test" placeholder="Insert message">
        <button onclick="send()">Submit</button>
      </div>
    </div>
</body>

</html>