<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('head.ejs') %>
  <script defer src="/static/scripts/Social.js"></script>
</head>
<body>
  <%-include("menu.ejs") %>
  <div id="main">
    <div id="chat">
      <!-- Chat message -->
    </div>
    <input type="text" name="test" id="test" placeholder="Insert message">
    <button onclick="send()">Submit</button>
  </div>
</body>
</html>