<!DOCTYPE html>
<html lang="en">
<head>
  <%-include("head.ejs") %>
</head>
<body>
  <%-include("menu.ejs") %>
  <main>
    <section class="team-banner-container">
      <a href="#team_id">
        <div class="team-banner">
          <div class="team-name">Red Bull Racing</div>
          <img src="/img/Team/Redbull_team_img.jpg" alt="Redbull_team_img" class="team-img">
        </div>
      </a>
    </section>
  </main>
</body>
</html>