@font-face {
  font-family: Formula1;
  src: url(/src/fonts/Formula1-Regular-1.woff);
}

:root {
  --f1-main-red: #FF1801;
  --f1-main-darkgray: #2b2b2b;
  --RedBull-red: #E30118;
  --RedBull-yellow: #FDD900;
  --RedBull-gray: #C0BFBF;
  --AMG-silver: #C8CCCE;
  --AMG-darkgray: #565F64;
  --AMG-green: #00A19B;
  --Ferrari-yellow: #FFF200;
  --Ferrari-green: #00A551;
  --Ferrari-red: #EF1A2D;
  --McLaren-orange: #FF8000;
}

body {
  font-family: Formula1;
  background-color: var(--f1-main-darkgray);
}

/* Main page background video start */
#main-video-container {
  display: block;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  z-index: -1;
  background-color: black;
  pointer-events: none;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Main page background video end */

/* Menu component start */
i {
  font-size: 170%;
}

a {
  color: black;
  text-decoration: none;
}

.menu-btn {
  position: fixed;
  top: 10%;
  right: 0;
  margin: 0.5%;
  padding: 0.5%;
  z-index: 999;
}

.menu-btn * {
  color: white;
}

.menu-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.menu-items.show {
  max-height: 300px;
}

.menu-box {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-btn * {
  padding: 0;
}

.menu-btn li {
  margin-top: 5%;
}

/* Menu component end */

/* Team banner start */
.team-banner {
  width: 16%;
  height: auto;
  position: relative;
  left: 13.5%;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  overflow: hidden;
  transition: background-color 0.7s;
}

.team-name {
  font-size: large;
  position: relative;
  transition: transform 0.7s;
  transform: rotate(-90deg) scale(2) translateX(-50%);
  opacity: 1;
}

.team-img {
  width: 90%;
  height: 90%;
  padding-bottom: 2%;
  transform: translateX(-110%);
  transition: transform 0.7s;
}

.team-banner:hover .team-img {
  transform: translateX(0);
}

.team-banner:hover .team-name {
  transform: rotate(0deg) scale(1);
  opacity: 1;
  color: rgb(253, 217, 0);
}

.team-banner:hover {
  background-color: rgb(227, 1, 24);
}

/* Team banner end */

/* Circuit banner start */
#map {
  width: 100%;
  height: 95%;
}

#selector {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#selector p {
  padding-right: 2%;
  margin: 0;
}

#circuitSelect {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid black;
  border-radius: 10px;
  background: url(/src/icons/arrow-bar-up.svg) no-repeat 95% 50%;
  display: inline;
  padding-left: 1%;
  color: white;
  font-size: medium;
}

#circuitSelect.active {
  background: url(/src/icons/arrow-bar-down.svg) no-repeat 95% 50%;
}

#circuitSelect * {
  background-color: var(--f1-main-darkgray);
  color: white;
}

/* Circuit banner end */

/* Circuit page circuit start */
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #fff;
}

svg {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: auto auto;
  width: auto;
  height: 100%;
}

.st0 {
  fill: none;
  stroke: #374151;
  stroke-width: 7.8545;
  stroke-miterlimit: 3.9273;
}

.st1 {
  fill: none;
  stroke: #EF4444;
  stroke-width: 1.9636;
  stroke-miterlimit: 3.9273;
}

.st2 {
  fill: none;
  stroke: #3B82F6;
  stroke-width: 1.9636;
  stroke-miterlimit: 3.9273;
}

.st3 {
  fill: none;
  stroke: #FBBF24;
  stroke-width: 1.9636;
  stroke-miterlimit: 3.9273;
}

/* Circuit page circuit end */

/* Login modal main modal start */
.login {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.login-card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 350px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  background: #e3e3e3;
  box-shadow: 16px 16px 32px #b6b6b6,
    -16px -16px 32px #fefefe;
  border-radius: 8px;
  padding: 1rem 0;
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.modal-size {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 35px;
}

.modal-hide {
  display: none;
}

.register {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

/* Login modal main modal end */

/* Login modal toggle switch start */
.enterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkCircleBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.checkbox-wrapper-35 .switch {
  display: none;
}

.checkbox-wrapper-35 .switch+label {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #78768d;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-35 .switch+label::before,
.checkbox-wrapper-35 .switch+label::after {
  content: '';
  display: block;
}

.checkbox-wrapper-35 .switch+label::before {
  background-color: #05012c;
  border-radius: 500px;
  height: 15px;
  margin-right: 8px;
  -webkit-transition: background-color 0.125s ease-out;
  transition: background-color 0.15s ease-out;
  width: 30px;
}

.checkbox-wrapper-35 .switch+label::after {
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
  height: 13px;
  left: 1px;
  position: absolute;
  top: 1px;
  -webkit-transition: -webkit-transform 0.125s ease-out;
  transition: -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out;
  transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
  width: 20px;
}

.checkbox-wrapper-35 .switch+label .switch-x-text {
  display: block;
  margin-right: .3em;
}

.checkbox-wrapper-35 .switch+label .switch-x-toggletext {
  display: block;
  font-weight: bold;
  height: 15px;
  overflow: hidden;
  position: relative;
  width: 60px;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked,
.checkbox-wrapper-35 .switch+label .switch-x-checked {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.checkbox-wrapper-35 .switch+label .switch-x-checked {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch+label .switch-x-hiddenlabel {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked+label::before {
  background-color: #ffb500;
}

.checkbox-wrapper-35 .switch:checked+label::after {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-unchecked {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-checked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

/* Login modal toggle switch end */

/* Info-card-start */
.info-card {
  overflow: visible;
  width: 300px;
  height: 450px;
}

.info-card-content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front,
.back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.back-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-card:hover .info-card-content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-img {
  position: relative;
  display: inline-block;
  height: 100%;
}

.front-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title * {
  width: 50%;
  color: white;
}

.info-card-footer {
  color: #ffffff;
  margin-top: 5px;
  font-size: 8px;
}

.driver-front-content {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.driver {
  display: inline-block;
  width: 50%;
}

.driver img {
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.driver:hover img {
  transform: scale(1.1);
  z-index: 2;
}

.driver small {
  position: absolute;
  z-index: 3;
}

/* Info-card-end */

/* Driver info modal start */
.driver-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 90vh;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.driver-modal::-webkit-scrollbar {
  display: none;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.driver-img-container {
  width: 95%;
  max-height: 1371px;
  padding-right: 4%;
}

.driver-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  top: 0;
  left: 0;
}

.driver-info-container {
  width: 60%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  top: 0;
  right: 0;
}

.driver-info-name {
  font-size: larger;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .driver-modal {
    width: 100vw;
    height: 100vh;
  }

  .info-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .driver-img-container {
    padding: 0;
  }

  .driver-img-container img {
    width: 100vw;
  }

  .driver-info-container {
    width: 100%;
  }
}

/* Driver info modal end */

/* Schedule select roadio btn  start */
.wrapper {
  --font-color-dark: #323232;
  --font-color-light: #fff;
  --bg-color: #fff;
  --main-color: #323232;
  --secondary-color: #505050;
  position: relative;
  height: 36px;
  width: auto;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
}

.option {
  flex: 1;
  display: inline-block;
  margin-right: 5px;
  width: auto;
  height: 28px;
  position: relative;
  top: 2px;
  left: 2px;
  border-radius: 34px;
  transition: 0.25s cubic-bezier(0, 0, 0, 1);
}

.option:last-child {
  margin-right: 4px;
}

.option:hover {
  background-color: var(--secondary-color);
}

.option:hover .span {
  color: var(--font-color-light);
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.option-btn {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  color: var(--font-color-dark);
}

.input:checked+.option-btn {
  background-color: var(--main-color);
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

.input:checked+.option-btn .span {
  color: var(--font-color-light);
  transition: 0.25s cubic-bezier(0, 0, 0, 1);
}

/* Schedule select roadio btn  end */

/* Country, circuit select card start */
section.card {
  position: relative;
  width: 30%;
  min-width: 150px;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 1%;
  padding: 1%;
}

.card img {
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 3px;
  width: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #000000;
  background-color: #f2f2f2;
  color: #ffffff;
}

.card__content {
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  padding-left: 5px;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  text-wrap: wrap;
}

.card:hover svg {
  scale: 0;
}

/* Country, circuit select card end */

/* Select card container start */
.circuit-card-container {
  overflow-x: scroll;
  white-space: nowrap;
}

.circuit-card-container::-webkit-scrollbar {
  display: none;
}

.circuit-card-container .circuit-card-box {
  display: inline-flex;
}

/* Select card container end */

/* shop page footer start */
.shoppage-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(93, 93, 93);
  padding: 0 3%;
}

.shoppage-footer * {
  font-size: 16px;
  color: white;
}

.footer-top-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  padding: 0%;
}

.top-content-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0%;
}

.top-ul {
  padding: 1%;
  margin: 0 10% 0 0;
  text-wrap: nowrap;
}

.top-ul p {
  font-weight: bold;
  color: black;
  margin-bottom: 12px;
}

.top-li {
  list-style-type: none;
  margin-bottom: 5%;
  text-wrap: nowrap;
}

.top-li:hover {
  opacity: 0.6;
  scale: 1.1;
}

.signin-text-btn-box {
  margin: 10px 0 10px 0;
}

.signin-text-btn-box p {
  margin: 0;
  color: black;
}

.signin-btn {
  border: 1px var(--f1-main-red) solid;
  color: var(--f1-main-red);
}

.signin-btn:hover {
  background-color: var(--f1-main-red);
}

@media screen and (max-width: 950px) and (min-width: 691px) {
  .shoppage-footer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-top-menu {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 690px) {
  .shoppage-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-content-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-ul {
    text-align: center;
    margin: 0;
  }
}

/* shop page footer end */