@font-face {
  font-family: Formula1;
  src: url(/src/fonts/Formula1-Regular-1.woff);
}

body {
  font-family: Formula1;
  background-color: #272727;
}

/* Main page background video start */
#main-video-container {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  background-color: black;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Main page background video end */

/* Menu component start */
i {
  font-size: 170%;
}

a {
  color: black;
  text-decoration: none;
}

.menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.5%;
  padding: 0.5%;
}

.menu-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.menu-items.show {
  max-height: 200px;
}

.menu-box {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-banner: space-between;
  align-items: center;
}

.menu-btn * {
  padding: 0;
}

.menu-btn li {
  margin-top: 5%;
}
/* Menu component end */

/* Team banner start */
.team-banner {
  width: 22%;
  height: auto;
  position: relative;
  left: 13.5%;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-banner: space-around;
  align-items: center;
  background-color: white;
  overflow: hidden;
  transition: background-color 0.7s;
}

.team-name {
  font-size: large;
  position: relative;
  transition: transform 0.7s;
  transform: rotate(-90deg) scale(2) translateX(-50%);
  opacity: 1;
}

.team-img {
  width: 95%;
  height: 95%;
  padding-bottom: 2%;
  transform: translateX(-110%);
  transition: transform 0.7s;
}

.team-banner:hover .team-img {
  transform: translateX(0);
}

.team-banner:hover .team-name {
  transform: rotate(0deg) scale(1);
  opacity: 1;
  color: rgb(253, 217, 0);
}

.team-banner:hover {
  background-color: rgb(227, 1, 24);
}
/* Team banner end */

/* Circuit banner start */
.circuit-banner {
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.banner-card {
  padding-top: 50px;
  /* border-radius: 10px; */
  border: 3px solid rgb(255, 255, 255);
  transform-style: preserve-3d;
  background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
      repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
  background-size: 60px 60px;
  background-position: 0 0, 0 0;
  background-color: #f0f0f0;
  width: 100%;
  box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
}

.banner-card:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.banner-box {
  transition: all 0.5s ease-in-out;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
}

.banner-box .banner-card-title {
  display: inline-block;
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.banner-box .banner-card-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.banner-box .banner-card-banner {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #f2f2f2;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.banner-box .banner-card-banner:hover {
  transform: translate3d(0px, 0px, 60px);
}

.model-3d {
  width: 100%; 
  height: 100%;
  background-color: #f00;
  transition: all 0.5s ease-in-out;
}

.banner-card:hover .model-3d {
  transform: translate3d(0px, 0px, 30px);
}
/* Circuit banner end */

/* Circuit page circuit start */
body,
html {
  background: #272727;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial;
  font-size: 20px;
  color: #fff;
}

svg {
  width: 100%;
  height: 100%;
}
/* Circuit page circuit end */