/* Main page background video start */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Main page background video end */

/* Menu component start */
i {
  font-size: 170%;
}

a {
  color: black;
}

.menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.5%;
  padding: 0.5%;
}

.menu-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.menu-items.show {
  max-height: 200px;
}

.menu-box {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-btn *{
  padding: 0;
}

.menu-btn li {
  margin-top: 5%;
}
/* Menu component end */