<div class="circuit-card-container">
  <div class="circuit-card-box">
    <section id="Monaco" class="card">
      <p class="card__title">Circuit De Monaco</p>
      <div class="card__content">
        <img src="./img/circuits/Monaco.png" alt="Monaco">
      </div>
    </section>
    <section id="Monaco" class="card">
      <p class="card__title">Circuit De Monaco</p>
      <div class="card__content">
        <img src="./img/circuits/Monaco.png" alt="Monaco">
      </div>
    </section>
    <section id="Monaco" class="card">
      <p class="card__title">Circuit De Monaco</p>
      <div class="card__content">
        <img src="./img/circuits/Monaco.png" alt="Monaco">
      </div>
    </section>
    <section id="Monaco" class="card">
      <p class="card__title">Circuit De Monaco</p>
      <div class="card__content">
        <img src="./img/circuits/Monaco.png" alt="Monaco">
      </div>
    </section>
    <section id="Monaco" class="card">
      <p class="card__title">Circuit De Monaco</p>
      <div class="card__content">
        <img src="./img/circuits/Monaco.png" alt="Monaco">
      </div>
    </section>
    <section id="Monaco" class="card">
      <p class="card__title">Circuit De Monaco</p>
      <div class="card__content">
        <img src="./img/circuits/Monaco.png" alt="Monaco">
      </div>
    </section>
  </div>
</div>