<Footer class="shoppage-footer">
  <section class="footer-top-menu">
    <span class="top-content-box">
      <ul class="top-ul">
        <p>Information</p>
        <li class="top-li"><a href="#mypage">My page</a></li>
        <li class="top-li"><a href="#aboutus">About us</a></li>
      </ul>
      <ul class="top-ul">
        <p>Worry about shopping</p>
        <li class="top-li"><a href="#promo">Promo terms and Exclusions</a></li>
        <li class="top-li"><a href="#safeshopping">Safe shopping </a></li>
        <li class="top-li"><a href="#returns">90-Day returns</a></li>
      </ul>
      <ul class="top-ul">
        <p>Customer service</p>
        <li class="top-li"><a href="#help">Help</a></li>
        <li class="top-li"><a href="#trackorder">Track order</a></li>
        <li class="top-li"><a href="#sizechart">Size chart</a></li>
      </ul>
    </span>
  </section>
  <section class="footer-bottom-menu">
    <div class="bottom-content-menu">
      <div class="signin-text-btn-box">
        <p>Stay on updated sales!</p>
        <button class="btn signin-btn">Sign in & save 10%</button>
      </div>
    </div>
  </section>
</Footer>