<div class="infoCardContainer">
  <div class="info-card">
    <div class="info-card-content">
      <div class="back">
        <div class="back-content">
          <img src="./img/Team/RedBull-Driver-img.jpg" alt="RedBull-Team-">
        </div>
      </div>
      <div class="front">
        <a href="#team-info-page">
          <div class="driver-front-content">
            <div class="driver driver1">
              <a href="#maxverstappen">
                <div class="front-img">
                  <small class="badge">Max verstappen</small>
                  <img src="./img/Team/RedBull-Drive-MaxVerstappen.jpg" alt="RedBull-Team-Car-img">
                </div>
              </a>
            </div>
            <div class="driver driver2">
              <a href="#sergioperez">
                <div class="front-img">
                  <small class="badge">Sergio perez</small>
                  <img src="./img/Team/RedBull-Driver-SergioPerez.jpg" alt="RedBull-Team-Car-img">
                </div>
              </a>
            </div>
          </div>
      </div>
      </a>
    </div>
  </div>
</div>