<div class="infoCardContainer">
  <div class="info-card">
    <div class="info-card-content">
      <div class="back">
        <div class="back-content">
          <img src="./img/Team/RedBull-Team-Logo.jpg" alt="RedBull-Team-">
        </div>
      </div>
      <div class="front">
        <a href="#team-info-page">
          <div class="front-content">
            <small class="badge">Red Bull</small>
            <div class="front-img"><img src="./img/Team/RedBull-Team-Car-img.jpg" alt="RedBull-Team-Car-img"></div>
            <div class="description">
              <div class="title">
                <strong>Full Team Name</strong>
              </div>
              <p class="info-card-footer">
                Oracle Red Bull Racing
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>