<menu class="menu-btn btn">
  <div class="menu-icon-box"><i class="bi bi-menu-button menu-icon"></i></div>
  <div class="menu-items">
    <ul class="menu-box">
      <li class="login-btn btn" data-toggle="tooltip" data-placement="left" title="Login">
        <a class="icon-link" href="#Login"><i class="bi bi-file-earmark-person"></i></a>
      </li>
      <li class="team-btn btn" data-toggle="tooltip" data-placement="left" title="Teams">
        <a class="icon-link" href="#Team"><i class="bi bi-people"></i></a>
      </li>
      <li class="circuit-btn btn" data-toggle="tooltip" data-placement="left" title="Circuits">
        <a class="icon-link"  href="#Circuit"><i class="bi bi-signpost-split"></i></a>
      </li>
      <li class="schedule-btn btn" data-toggle="tooltip" data-placement="left" title="Schedule">
        <a class="icon-link"  href="#Schedule"><i class="bi bi-calendar-event"></i></a>
      </li>
      <li class="social-btn btn" data-toggle="tooltip" data-placement="left" title="Social">
        <a class="icon-link"  href="#Social"><i class="bi bi-chat-left-dots"></i></a>
      </li>
    </ul>
  </div>
</menu>